<h1 class="text-center">Выберите сущность с которой вы хотели бы работать</h1>
<div class="container ">
    <div class="row justify-content-center">
        <a class="col-2 btn btn-primary" href="/indexUser">Пользователь</a>
        <a class="col-2 btn btn-secondary" href="/indexSerial">Сериал</a>
        <a class="col-2 btn btn-info" href="/indexSeason">Сезон</a>
        <a class="col-2 btn btn-danger" href="/indexSeries">Серии</a>
        <a class="col-2 btn btn-warning" href="/indexPlan">Планы</a>
    </div>
</div>